GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=your-google-redirect-uri

REACT_APP_API_URL=http://localhost:8000
REACT_APP_APP_URL=http://localhost:3000
JWT_SECRET=your-jwt-secret

FIREBASE_TYPE=your-firebase-type
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_PRIVATE_KEY_ID=your-firebase-private-key-id
FIREBASE_PRIVATE_KEY=your-firebase-private-key
FIREBASE_CLIENT_EMAIL=your-firebase-client-email
FIREBASE_CLIENT_ID=your-firebase-client-id
FIREBASE_AUTH_URI=your-firebase-auth-uri
FIREBASE_TOKEN_URI=your-firebase-token-uri
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=your-firebase-auth-provider-x509-cert-url
FIREBASE_CLIENT_X509_CERT_URL=your-firebase-client-x509-cert-url
FIREBASE_UNIVERSE_DOMAIN=your-firebase-universe-domain